:root {
    --color-teal: #00857A;
    --color-gray: #F4F4F4;
    --color-dark-green: #004E22;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: "Inter", sans-serif;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bolder;
}

p:last-child,
p:last-of-type {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.32px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 50px;
    border-radius: 99px;
    border: none;
    transition: all 0.3s ease-in-out;
    outline: none;

}

.btn-primary {
    background: var(--color-teal);
    color: var(--color-gray);
}

.btn-primary:hover {
    background: #006F66;
}

/* Custom Class */
.text-header-1 {
    font-size: 80px;
    letter-spacing: -2.75px;
}

.text-header-2 {
    font-size: 48px;
    letter-spacing: -0.38px;
    line-height: 67px;
}

.text-header-4 {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.24px;
}

.body-text {
    font-size: 16px;
    line-height: 132%;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.text-primary {
    color: var(--color-teal) !important;
}

.bg-gray {
    background-color: var(--color-gray) !important;
}

.bg-dark-green {
    background-color: var(--color-dark-green) !important;
}

.header-site {
    z-index: 99;
    padding: 15px 0 23px;
}

.cs-container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.cs-container-lg {
    max-width: 1368px;
}

.header-logo {
    max-width: 192px;
}

.header-logo img {
    width: 100%;
}

.header-login {
    font-size: 16px;
    color: #222222;
}

.header-login:hover {
    color: var(--color-teal);
}

.header-actions {
    gap: 32px;
}

.header-toggle,
.header-mobile-menu {
    display: none;
}

.about-hero__inner {
    padding: 128px 0 190px;
}

.about-hero__left {
    width: calc(58.36% - 8px);
}

.about-hero__right {
    width: calc(41.64% - 8px);
}

.about-hero__heading {
    letter-spacing: -2.75px;
    max-width: 630px;
    margin-top: -8px;
}

.about-hero__heading img {
    height: 75px;
}

.about-hero__heading .image {
    vertical-align: middle;
    margin-left: 20px;
    margin-top: -12px;
}



.about-hero__heading .image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #00857A;
    mix-blend-mode: screen;
}



.about-hero__stats {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-gap: 28px;
    margin-top: 80px;
}

.about-hero__stat-item .item-value {
    line-height: 1.25;
    letter-spacing: -2.75px;
}

.about-hero__stat-item .item-label {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.24px;
    margin-top: 8px;
}

.about-hero__deco {
    position: absolute;
    bottom: -20%;
    left: -42%;
}

.about-hero__car {
    position: absolute;
    bottom: 0%;
    left: 1%;
    width: 50.5%;
}

.about-culture-sec {
    padding: 80px 0;
}

.about-culture__left {
    width: 50.7%;
    padding-right: 156px;
}

.about-culture__right {
    width: 49.3%;
}

.about-culture__desc {
    margin-top: 40px;
}

.faq-item {
    border-top: 1px solid var(--color-teal);
}

.faq-item:last-child {
    border-bottom: 1px solid var(--color-teal);
}

.faq-question {
    width: 100%;
    padding: 20px 0;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.24px;
    cursor: pointer;
    text-align: left;
}

.faq-question:focus {
    outline: none;
}

.faq-icon {
    position: relative;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.faq-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.faq-answer {
    display: none;
    overflow: hidden;
}

.faq-answer-inner {
    padding: 0 25px 18px 0;
}

.faq-answer p {
    font-size: 18px;
    line-height: 1.6;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
}