@media (max-width:1199px) {
    .text-header-1 {
        font-size: 64px;
    }

    .about-careers__heading {
        font-size: 60px;
    }

    .section-heading {
        font-size: 58px;
    }

    .cta-heading {
        font-size: 70px;
        line-height: 1.2;
    }

    .about-hero__stats {
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 48px;
    }

    .about-hero__heading img {
        height: 1em;
    }

    .about-hero__car {
        width: 55%;
    }

    .about-hero__inner {
        padding-top: 100px;
    }

    .about-culture__left {
        padding-right: 80px;
    }

    .about-careers__box {
        padding: 60px 20px;
    }

    .cta-box {
        padding: 100px 60px;
    }
}

@media (max-width:991px) {
    .text-header-1 {
        font-size: 55px;
    }

    .text-header-2 {
        font-size: 40px;
        line-height: 1.2
    }

    .text-header-3 {
        font-size: 28px;
    }

    .text-header-4 {
        font-size: 22px;
    }

    .about-hero__left,
    .about-hero__right {
        width: 100%;
    }

    .about-hero__stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        margin-top: 32px;
    }

    .about-hero__stat-item .item-label {
        font-size: 22px;
    }

    .about-hero__car {
        width: 65%;
    }

    .about-hero__inner {
        padding-top: 60px;
    }

    .about-hero__heading {
        max-width: 480px;
    }


    .about-hero__heading .image {
        margin-left: 12px;
    }

    .about-culture__left {
        padding-right: 48px;
    }

    .faq-question {
        font-size: 22px;
    }

    .about-culture__desc {
        margin-top: 24px;
    }

    .about-careers__desc {
        font-size: 18px;
    }

    .about-careers__box .box-left {
        padding-right: 32px;
        width: 50%;
    }

    .about-careers__box .box-right {
        width: 50%;
    }

    .about-careers__heading {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .about-teams__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px 8px;
    }

    .section-heading {
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 50px;
    }

    .advisory-council-sec .about-teams__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .investment-team__list {
        gap: 40px;
    }

    .investment-team-sec .section-heading {
        margin-bottom: 48px;
    }

    .cta-box {
        padding: 60px 20px;
    }

    .cta-heading {
        font-size: 60px;
    }

    .cta-desc {
        font-size: 22px;
    }

    .client-logos__item {
        margin: 0 20px;
    }

    .client-logos-sec::before,
    .client-logos-sec::after {
        width: 120px;
    }
}

@media (max-width:767px) {
    .text-header-1 {
        font-size: 42px;
    }

    .text-header-2 {
        font-size: 36px;
    }

    .text-header-3 {
        font-size: 24px;
    }

    .text-header-4 {
        font-size: 20px;
    }

    .section-padding {
        padding: 60px 0;
    }

    .header-site {
        padding: 16px 0;
    }

    .cs-container {
        padding: 0 16px;
    }

    .header-logo {
        max-width: 145px;
    }

    .header-actions {
        display: none !important;
    }

    .header-toggle {
        width: 42px;
        height: 42px;
        padding: 0;
        border: 0;
        background: transparent;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        cursor: pointer;
    }

    .header-toggle span {
        display: block;
        width: 24px;
        height: 2px;
        background: #222;
        border-radius: 2px;

        transition:
            transform 0.25s ease,
            opacity 0.25s ease;
    }

    .header-mobile-menu {
        display: block;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: var(--color-gray);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
    }

    .header-mobile-menu.active {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }

    .header-mobile-menu__inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 12px;

        padding: 20px 0 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header-mobile-menu .header-login {
        display: block;
        padding: 10px 0;
        text-align: center;
    }

    .header-mobile-menu .btn {
        width: 100%;
    }

    .header-toggle.is-active span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .header-toggle.is-active span:nth-child(2) {
        opacity: 0;
    }

    .header-toggle.is-active span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .about-hero__heading .image {
        margin-top: -6px;
        margin-left: 8px;
    }

    .about-hero__stat-item .item-label {
        font-size: 20px;
    }

    .about-hero__stats {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .about-hero__car {
        width: 100%;
    }

    .about-hero__inner {
        padding: 50px 0 160px;
    }

    .about-hero__deco {
        bottom: -11%;
        left: -22%;

    }

    .about-culture-sec {
        padding: 60px 0;
    }

    .about-culture__left,
    .about-culture__right {
        width: 100%;
        padding: 0;
    }

    .about-culture__inner {
        gap: 48px;
    }

    .about-culture__desc {
        margin-top: 16px;
    }

    .faq-question {
        font-size: 20px;
    }

    .faq-answer p {
        font-size: 16px;
    }

    .faq-icon {
        width: 24px;
        height: 24px;
    }

    .about-careers__box .box-left,
    .about-careers__box .box-right {
        width: 100%;
        padding: 0;
    }

    .about-careers__heading {
        margin-bottom: 16px;
        font-size: 42px;
    }

    .about-careers-sec {
        padding: 60px 0;
    }

    .about-careers__box {
        padding: 40px 20px;
    }

    .about-careers__deco {
        top: 0;
        right: -10%;
    }

    .about-teams__list {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .about-teams-sec {
        padding: 60px 0;
    }

    .section-heading {
        font-size: 40px;
        margin-bottom: 32px;
    }

    .board-directors-sec,
    .advisory-council-sec {
        padding: 60px 0;
    }

    .advisory-council-sec .about-teams__list {
        grid-template-columns: 1fr;
    }

    .investment-team__list {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .cta-box .box-left,
    .cta-box .box-right {
        width: 100%;
        padding: 0;
    }

    .cta-heading {
        font-size: 48px;
    }

    .cta-box {
        gap: 30px;
    }

    .cta-desc {
        font-size: 20px;
    }

    .cta-btns {
        margin-top: 30px;
    }

    .cta-sec {
        padding-bottom: 80px;
    }

    .client-logos-sec {
        padding: 48px 0;
    }

    .client-logos__item {
        margin: 0 16px;
    }

    .client-logos-sec::before,
    .client-logos-sec::after {
        width: 80px;
        height: 100px;
        top: 50%;
        transform: translateY(-50%);
    }
}